.profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #4507ff31;
    border: 2px solid white;
}

.user-name {
    color: white;
    max-width: 90%;
    text-align: center;
    margin-bottom: 10px;
}

.user-card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}