.profile-img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 0.0625rem solid var(--secondary-accent, #CFCFFF);
    box-shadow: 0rem 0rem 1.25rem 0rem rgba(192, 192, 255, 0.40);
}

.user-name {
    color: var(--lighter, #FFF);    
    text-align: center;
    margin-bottom: 0.625rem;
    min-width: 90%;
}

.user-card {
    display: inline-flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
} 