.sidebar-container {
    background-color: #232241;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 15%; /* Adjust the width as needed */
  }
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 30px;
  }

  .nav-menu-items {
    text-decoration: none;
    outline: none;
    list-style: none;
  }
  
  .navbar-link {
    display: flex;
    justify-content: start;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    padding: 8px 0px 8px 16px;
    list-style: none;
    text-decoration: none;
    height: 40px;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: all ease 0.8s;
  }

  .navbar-link:hover {
    background-color: #18172E;
  }
  
  .nav-text {
    color: white;
    border: none;
    list-style: none !important;
    text-decoration: none !important;
    margin-left: 15px;
    font-size: 20px;
    outline: none;
    font-weight: normal;
    justify-content: center;
    align-items: center;
  }

  .icon {
    color: white;
  }

  a {
    text-decoration: none;
  }

  .logo {
    max-width: 90%;
  }