@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700;800&display=swap');


:root {
    --primary-accent: #4707FF;
    --primary-accent-dark: #3b00E5;
    --secondary-accent: #D9D9FF;
    --light: #F7F7F9;
    --lighter: #fff;
    --dark: #232241;
    --darker: #18172E;
    --display-size: 6rem;
    --h1-size: 4.5rem;
    --h2-size: 3.75rem;
    --h3-size: 3rem;
    --h4-size: 2.25rem;
    --h5-size: 1.875rem;
    --h6-size: 1.25rem;
    --h7-size: 1rem;
    --h8-size: 0.875rem;
    --copy-lg: 1.25rem;
    --copy-reg: 1rem;
    --copy-sm: 0.875rem;
    --copy-xs: 0.75rem;
}

html {
    font-size: 12px;
}

.App {
    margin: 0;
    padding: 0;
    background-color: var(--darker);
    color: var(--light);
    font-family: "Karla", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body, * {
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--lighter);
    margin-bottom: 0.625rem;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

h6 {
    font-size: var(--h6-size);
}

h7 {
    font-size: var(--h7-size);
}

h8 {
    font-size: var(--h8-size);
}

p {
    font-size: var(--copy-reg);
}

.copy-lg {
    font-size: var(--copy-lg)
}

.copy-reg {
    font-size: var(--copy-reg);
}

.copy-sm {
    font-size: var(--copy-sm);
}

.copy-xs {
    font-size: var(--copy-xs);
}

/* Login Page */

.login-page, .register-page, .add-conference {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-page {
    row-gap: 1.25rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
    justify-content: center;
    border: none;
    margin: 1.25rem 0;
}

.relatedDates {
    display: flex;
    flex-direction: row;
    column-gap: 1.25rem;
    align-items: center;
    padding: 2.5rem;
}

input {
    border: none;
    outline: none;
}

.login-input {
    width: 21.875rem;
    padding: 1.25rem 2.1875rem;
    border-radius: 3.125rem;
    background: var(--dark, #232241);
    box-shadow: 0rem 0rem 0.9375rem 0rem rgba(192, 192, 255, 0.20);
    border: 0.125rem solid var(--secondary-accent, #CFCFFF);
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--secondary-accent, #CFCFFF);
    transition: all 0.4s ease-in-out;
}

.login-input:hover {
    padding: 1.375rem 2.1875rem;
}

.login-input:focus {
    background: var(--primary-accent-dark, #3B00E5);
}

.switchpage {
    color: var(--secondary-accent, #CFCFFF);
    text-align: center;
    margin-top: 1.25rem;
}

.w-40 {
    max-width: 40%;
}

.text-centered {
    text-align: center;
}

.divider {
    width: 9rem;
    height: 0.0625rem;
    flex-shrink: 0;
    margin-top: 1.25rem;
    background-color: var(--primary-accent);
    color: var(--primary-accent);
    outline: none;
    border: none;
}

.login-input::placeholder {
    color: var(--secondary-accent, #CFCFFF);
    font-size: 1.25rem;
    font-weight: 800;
}

.error-message {
    color: red;
    font-size: 0.75rem;
    font-weight: 500;
}

/* Todos */

/* Todo Card */

/* Conferences */

.conference-card {
    background-color: var(--darker) !important;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.625rem;
    color: var(--lighter);
    box-shadow: 0.3125rem 0.3125rem 1.5625rem 0rem rgba(0, 0, 0, 0.25), -0.125rem -0.125rem 0.3125rem 0rem rgba(0, 0, 0, 0.15) inset, 0.0625rem 0.0625rem 0.3125rem 0rem rgba(71, 7, 255, 0.15) inset, 0.125rem 0.125rem 0.3125rem 0rem rgba(255, 255, 255, 0.10) inset;
}

.conf-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 1.25rem;
}